<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-4">
  <h1 class="mb-4">Books</h1>
  <form action="#" th:action="@{/books}" method="get" class="mb-4">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <input type="text" name="keyword" class="form-control mb-2" placeholder="Search by title" th:value="${keyword}">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-dark text-light mb-2">Search</button>
      </div>
    </div>
  </form>
  <div th:if="${noBooksFound}" class="alert alert-warning" role="alert">
    No books found!
    <a th:href="@{/books}" class="alert-link">Back to all books</a>
  </div>
  <div th:unless="${noBooksFound}">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th><a class="text-light" th:href="@{/books(sortField='id', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'ID ' + (${sortField} == 'id' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a class="text-light" th:href="@{/books(sortField='title', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'Title ' + (${sortField} == 'title' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a class="text-light" th:href="@{/books(sortField='article', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'Article ' + (${sortField} == 'article' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a class="text-light" th:href="@{/books(sortField='description', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'Description ' + (${sortField} == 'description' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a class="text-light" th:href="@{/books(sortField='category', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'Category ' + (${sortField} == 'category' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a class="text-light" th:href="@{/books(sortField='releaseYear', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'Release Year ' + (${sortField} == 'releaseYear' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a class="text-light" th:href="@{/books(sortField='quantity', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'Quantity ' + (${sortField} == 'quantity' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a class="text-light" th:href="@{/books(sortField='lastModified', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'Last Modified ' + (${sortField} == 'lastModified' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a class="text-light" th:href="@{/books(sortField='createdAt', sortDir=${reverseSortDir}, keyword=${keyword})}" th:text="'Created At ' + (${sortField} == 'createdAt' ? (${sortDir} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.article}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.category}"></td>
        <td th:text="${book.releaseYear}"></td>
        <td th:text="${book.quantity}"></td>
        <td th:text="${#temporals.format(book.lastModified, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#temporals.format(book.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td>
          <a th:href="@{/book-update/{id}(id=${book.id})}" class="btn btn-sm btn-light border border-dark">Edit</a>
          <a th:href="@{/book-delete/{id}(id=${book.id})}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <a th:href="@{/book-add}" class="btn btn-warning ">Create book</a>
</div>
</body>
</html>
